
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Listar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">

            </div>
            <div class="col-sm-4 offset-md-1 py-4">
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>

        </div>
      </div>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <ul>
      <table border="1">
          <p><strong>Produtos cadastrados</strong></p>
         {% for item in list %}

        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">codigo de Barras:</th>
      <th scope="col">Nome do Produto:</th>
      <th scope="col">preço:</th>
      <th scope="col">Quantidade:</th>
        <th scope="col">Deletar</th>
        <th scope="col">Alterar</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ item.cod }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.preco }}</td>
        <td>{{ item.qtd }}</td>

        <td><a href="/delete_produto/?id={{ item.id }}" class="btn btn-danger">Deletar</a></td>
        <td><a  href="/update_produto/?id={{ item.id }}" class="btn btn-info">Editar</a></td>
    </tr>

  </tbody>
</table>

         {% endfor %}
      </table>
   </ul>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
        </p>
        <p>Criado por Victor Felipe Gabriel dos Santos RA:1830021-2</p>

      </div>
    </footer>
</body>

